/* Fonts */
@font-face {
    font-family: PixelFont;
    src: url(/fonts/font.ttf);
}

/* Classes */
body {
    background: #133444;
    font-family: PixelFont; 
    text-align: center;
    font-size: max(2vw, 2vh);
    color: white;
    overflow: hidden;
    margin-top: 10vh;
}

.Planet{
    width: max(25vw, 25vh);
    height: max(25vw, 25vh);
    overflow: hidden;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}  

.Planet_spritesheet {
    animation: moveSpriteSheet 10s steps(100) infinite;
    width: max(2500vw, 2500vh);
}

/* Utility classes */

.pixelart {
    image-rendering: pixelated;
}

/* Animation keyframes */

@keyframes moveSpriteSheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}